In [1]:
#Web Scraping Project Mahrukh Faridi

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
url_1='https://data.worldobesity.org/rankings/?age=a&sex=m'
url_2='https://data.worldobesity.org/rankings/?age=a&sex=f'

page_1=requests.get(url_1)
soup_1=BeautifulSoup(page1.text, 'html')

page_2 = requests.get(url_2)
soup_2 = BeautifulSoup(page_2.text, 'html')

In [ ]:
#extracting tables
table_1= soup_1.find('table', class_ = 'results')
table_2= soup_2.find('table', class_ = 'results')

In [ ]:
#extracting titles
titles_1=table_1.find_all('th')
titles_2=table_2.find_all('th')

In [ ]:
#cleaning titles
table_titles_1=[title.text.strip() for title in titles_1]
table_titles_2=[title.text.strip() for title in titles_2][1:]

In [ ]:
#renaming titles
table_titles_1[2]='% Obesity in Males'
table_titles_2[1]='% Obesity in Females'

In [ ]:
#creating a dataframe
df=pd.DataFrame(columns=table_titles_1)
df

In [ ]:
#extracting row and column data and inserting into the dataframe
column_data=table_1.find_all('tr')
for row in column_data[1:]:
    row_data= row.find_all('td')
    sep_row_data=[data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = sep_row_data

In [ ]:
df

In [ ]:
#creating another data frame for obesity in females
df2=pd.DataFrame(columns=table_titles_2)

In [ ]:
df2

In [ ]:
#extracting row and column data and inserting into dataframe 2
column_data=table_2.find_all('tr')
for row in column_data[1:]:
    row_data= row.find_all('td')
    sep_row_data=[data.text.strip() for data in row_data]
    length = len(df2)
    df2.loc[length] = sep_row_data[1:]

In [ ]:
df2

In [ ]:
#merging dataframe 1 and 2 and resetting index
data_frame=df.merge(df2, on='Country')
data_frame= data_frame.set_index('#')
data_frame

In [ ]:
data_frame.to_csv(r'C:\Users\yasir\Desktop\Data Analyst Coursework\Python\Python for Data Analysis\Pandas\World Obesity Rates.csv', index=False)